* {
  padding: 0;
  margin: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

#map {
  height: 100%;
  width: 100%;
  min-height: 50vh;
}

#loading {
  background: #65bf68;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1000000;
  position: absolute;
  color: white;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.navbar,
.navbar-dropdown {
  background: #65bf68;
}

.navbar-item,
.navbar-link {
  color: white;
}

.navbar-item:hover .navbar-link {
  color: #353535;
}

.navbar-menu.is-active {
  background: #65bf68;
}

#content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  min-height: calc(100vh - 52px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  background: #209cee;
  color: white;
  border-radius: 3px;
  position: relative;
}

.card-content {
  width: 300px;
  margin: 0 auto;
}

.location-img {
  max-height: 150px;
  width: auto;
}

/* 
.info-title {
  text-align: center;
} */

#streetViewMap {
  width: 100%;
  height: 50vh;
}

#info-title {
  font-size: 1.3rem;
  text-align: center;
}

.card-detail {
  display: flex;
  justify-content: space-between;
}

.dynamic-info {
  font-size: 1.2rem;
}

.main-info {
  display: flex;
  justify-content: space-around;
}

.main-detail {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-detail>span:first-child {
  font-size: 3rem;
}

#addToFave {
  width: 30px;
  height: 30px;
  background: #65bf68;
  position: absolute;
  top: 25px;
  right: 10%;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s ease-in-out;
  display: none;
  flex-direction: column;
  justify-content: center;
}

#addToFave:hover {
  transform: scale(1.1);
}

#add-remove {
  margin: 0 auto;
  font-size: 2.5rem;
  position: relative;
  top: -4px;
  left: -1px;
  transform-origin: center;
}

.user-container {
  text-align: center;
}

#username {
  font-size: 3rem;
}

.h3 {
  font-size: 2rem;
}

table {
  margin: 0 auto;
}

#flash-message {
  position: absolute;
  top: -23px;
  left: -93px;
  font-size: 0.9rem;
  color: #209cee;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  width: 150px;
}